{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $transient := false -}}{{/* true if this machine is temporary, e.g. a cloud or VM instance */}}
{{- $isovalent := false -}}{{/* true if this machine should have Isovalent secrets from 1Password */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from LastPass */}}
{{- "" -}}

{{/* detect GitHub codespaces and VSCode remote containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $headless = true -}}
{{-   $transient = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $transient = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
[cd]
  command = "powershell"
  args = ["-nologo"]
{{ end -}}
remove = true
[data]
  headless = {{ $headless }}
  hostname = {{ .chezmoi.hostname | quote }}
  transient = {{ $transient }}
  isovalent = {{ $isovalent }}
  kubernetes = {{ $kubernetes }}
  personal = {{ $personal }}
