#!/bin/bash

set -eufo pipefail

# Plugins to install
plugins=(
	"zsh-users/zsh-autosuggestions"
	"zsh-users/zsh-completions"
	"zsh-users/zsh-history-substring-search"
	"zdharma/fast-syntax-highlighting"
	"BuonOmo/yarn-completion"
	"lukechilds/zsh-better-npm-completion"
	"larkery/zsh-histdb"
)

# Install all plugins to ~/.local/share/zsh/plugins
for plugin in "${plugins[@]}"; do
	name=$(echo $plugin | cut -d  '/' -f2 )
	curl -s -L -o ${name}-master.tar.gz https://github.com/${plugin}/archive/master.tar.gz
	chezmoi import --strip-components 1 --destination ${HOME}/.local/share/zsh/plugins/${name} ${name}-master.tar.gz
	rm ${name}-master.tar.gz
done

