{{ if (and (eq .chezmoi.os "darwin" "linux") (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

plugins=(
    cargo-add
    cargo-audit
    cargo-bloat
    cargo-deps
    cargo-geiger
    cargo-whatfeatures
    cargo-expand
    cargo-make
    trunk
    cargo-update
    wasm-bindgen-cli
)
rustup default stable
rustup target add wasm32-unknown-unknown
cargo install --git https://github.com/johnae/persway.git
for plugin in ${plugins[@]}; do
    cargo install $plugin
done
{{ end }}
