{{ if (and (eq .chezmoi.os "darwin" "linux") (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

plugins=(
    cargo-audit
    cargo-bloat
    cargo-deps
    cargo-deb
    cargo-edit
    cargo-expand
    cargo-geiger
    cargo-generate
    cargo-license
    cargo-make
    cargo-release
    cargo-rpm
    cargo-pkgbuild
    cargo-tarpaulin
    cargo-update
    cargo-vendor
    cargo-watch
    cargo-whatfeatures
    blindfold
    dust
    #git-journal
    license-generator
    microserver
    tax
    trunk
    wasm-bindgen-cli
    wasm-pack
)
rustup default stable
rustup target add wasm32-unknown-unknown
for plugin in ${plugins[@]}; do
    cargo install $plugin
done
{{ end }}
