#entry {
border-radius: 5px;
padding: 7px;
margin: 0px 5px 0px 5px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
background-color: #5d4d7a;
}
 
#text:selected {
color: #CBC1D5;
}
 
#window {
background-color: #ff0000;
background-color: transparent;
border-radius: 15px;
font-family: SF Pro Display;
animation: fadeIn;
animation-duration: 0.3s;
}

#input {
border: 2px solid #5d4d7a;
background-color: #292b2e;
padding: 6px;
margin: 15px;
margin-bottom: 0px;
font-size: 16px;
border-radius: 5px;
}

#inner-box {
color: #CBC1D5;
padding: 10px;
padding-top: 5px;
}

#outer-box {
margin: 15px;
border-radius: 15px;
background-color: #222226;
box-shadow: 0px 0px 5px 0  #0F0F0F;
}

#scroll {
margin-top: 10px;
margin-bottom: 10px;
}

#text {
font-size: 16px;
padding: 7px;
color: #b2b2b2;
background-color: transparent;
} 

#img {
  background-color: transparent;
  padding: 5px;
}
